<% layout("layouts/boilerplate") %>

<body>
  <br />
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Edit your listing</h1>
      <form method="post" action="/listings/<%=listing._id %>?_method=PUT">
        <label for="title">Edit the title</label>
        <input
          name="listing[title]"
          value="<%=listing.title%>"
          type="text"
          id="title"
          class="form-control"
        />
        <br />
        <label for="description">Edit the description</label>

        <textarea
          name="listing[description]"
          value="<%=listing.textarea%> "
          class="form-control"
          id="description"
        ></textarea>
        <br />
        <label for="image">Edit the image</label>

        <input
          name="listing[image]"
          value="<%=listing.image.url%> "
          type="text"
          class="form-control"
          id="image"
        />
        <br />

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price">Edit the price</label>

            <input
              name="listing[price]"
              value="<%=listing.price%> "
              type="number"
              class="form-control"
              id="price"
            />
          </div>
          <br />

          <div class="mb-3 col-md-8">
            <label for="country">Edit the country</label>
            <input
              name="listing[country]"
              value="<%=listing.country%> "
              type="text"
              class="form-control"
              id="country"
            />
          </div>
          <br />
        </div>
        <label for="location">Edit the description</label>

        <input
          name="listing[location]"
          value="<%=listing.location%> "
          type="text"
          class="form-control"
          id="location"
        /><br />
        <br />
        <button
          class="btn btn-dark add-btn"
          style="background-color: red; border: none"
        >
          edit
        </button>
      </form>
    </div>
  </div>
</body>
