<% layout("layouts/boilerplate") %>
<body>
  <div class="show-container">
    <!-- Hotel Image -->
    <div class="image-container">
      <img src="<%= listing.image %>" alt="<%= listing.title %>" class="listing-image">
    </div>

    <!-- Hotel Information -->
    <div class="info-container">
      <ul>
        <li><strong>Title:</strong> <%= listing.title %></li>
        <li><strong>Description:</strong> <%= listing.description %></li>
        <li><strong>Price:</strong> &#8377;<%= listing.price %></li>
        <li><strong>Location:</strong> <%= listing.location %></li>
        <li><strong>Country:</strong> <%= listing.country %></li>
      </ul>
    </div>

    <!-- Edit and Delete Buttons -->
    <div style="text-align: center; margin: 1rem;">
      <a href="/listings/<%= listing._id %>/edit"><button style="border-radius: 5px; height: 3.8rem; width:5rem">Edit</button></a>
      <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display: inline;">
        <button>Delete</button>
      </form>
    </div>
  </div>
</body>

